{% extends "index-net.html" %}

{% block title %}
Main page.
{% endblock %}

{% block leftblock %}
<h3>Краткое указание к главной странице.</h3>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Главная.
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Эта страница - главная на сайте социальной сети. Создал её, неудивительно, <a href="#">Nizier193</a> - основной разработчик соцсети. 
          Здесь вы можете наблюдать контент похожий главной странице фейсбука или около того. Новости и объявления будут размещены здесь в соответствии 
          с вашими подписками и рекомендациями.  
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Ориентация по главной странице.
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<h3 style="text-align: center;">Последние записи в ленте событий.</h3>

<ul style="list-style-type: none;">
{% for announce in announcements %}
    <li>
        <div class="card" style="width: 45%; float: right; margin-right: 3.5%; margin-top: 2%;">
            <img src="{{announce.picture.0}}" class="img-fluid" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{announce.title}}</h5>
            <p class="card-text">{{announce.message}}</p>
            <div class="alert alert-light" role="alert">
                <span>{{announce.created_at}}</span>
            </div>
            <a href="#" class="btn btn-primary">{{announce.person}}</a>
            <p> index ----> {{announce.pk}}</p>

            </div>
        </div>
    </li>
{% endfor %}
</ul>

{% endblock %}

