{% extends "index-net.html" %}
{% load static %}

{% block title %}
Profile page.
{% endblock %}

{% block leftblock %}
<h3>Краткое указание к предложениям.</h3>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Предложения.
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Указания к предложениям.
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="w-75 p-3">
  <form>
    <div class="form-group p-1">
      <label for="suggestionPost" style="font-weight: bold;">Пользователь</label>
      <input type="text" class="form-control" id="suggestionPost" placeholder="Добавить вкладку">
    </div>
    <div class="form-group p-1">
      <label for="emailPost">Название</label>
      <input type="text" class="form-control" id="emailPost" placeholder="name@example.com">
    </div>
    <div class="form-group p-1">
      <label for="suggestionText">Предложение</label>
      <textarea class="form-control" id="suggestionText" rows="3"></textarea>
    </div>
    <div class="form-group p-1">
      <label for="exampleFormControlFile1">Example file input</label><br>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <button type="submit" class="btn btn-primary mb-2" style="margin-top: 1%;">Submit</button>
  </form>
</div>
{% endblock %}